﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.Master" AutoEventWireup="true" CodeBehind="Admin.aspx.cs" Inherits="_IPC_Proyecto.Admin1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    ¡Bienvenido 
                    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
                    !
                </h1>

            </div>
        </div>
    </div>
</asp:Content>
