﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="_IPC_Proyecto.Login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Style -->
    <link href="styles/login_style.css" rel="stylesheet" />
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    <title>Login</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <div class = "container">
                <div class="row mt-5">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <div class="wrapper">
		                    <form action="admin_login.php" method="post" name="Login_Form" class="form-signin">       
		                        <h3 class="form-signin-heading">Bienvenido!</h3>
			                        <hr class="colorgraph"/><br/>
                                    <asp:TextBox ID="TextBox1" runat="server" class="form-control" placeholder="Usuario"></asp:TextBox>
                                    <asp:TextBox ID="TextBox2" TextMode="Password" runat="server" class="form-control" placeholder="Contraseña" />  		  
			 
                                    <asp:Button ID="Button1" runat="server" Text="Ingresar" OnClick="Button1_Click" class="btn btn-lg btn-primary btn-block"/>
                                  
		                    </form>			
	                    </div>
                    </div>
                    <div class="col-md-4">
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
